@import "base";
body{
    // background:#ea2e49;
};
.lift_bar{
    width:300px;
    dl{
        dt{
            height:120px;
            background:#ea2e49;
        }
    }
}




















